#welcome{
    color: white;
    background-color: black;
    margin-top: 1px;
    width: 10%;
    float: inherit;
    display: inline;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    margin: 0 auto;    
}

#rodape{
    text-align: center;
    margin-bottom: 2px;
    margin-top: 10%;
}


#rodape p{
    font-size: small ;
    text-align: center;
}
    

#copy{
    font-size: small ;
    text-align: center;
    margin-bottom: auto;

}




.btn btn-primary{
    text-align: center;
}

